{% assign posts = site.posts | where:'group', page.subgroup | sort:'order' %}
{% for post in posts %}
<div  id="subgrouppanel{{forloop.index}}">
<div class="panel panel-default">
  <div class="panel-heading">
    {% for tag in post.tags %}
      <span class="label label-success">{{ tag }}</span> 
    {% endfor %}
    <h3 class="panel-title">
      <!-- This uses the _config.yml variable rest_api and the post's rest_url to find the right URL -->
      {% include emphasized_url.html url=post.rest_url %}
    </h3>
  </div>
  <div class="panel-body">
    {{ post.content | markdownify }}
  </div>
</div>
</div>
{% endfor %}
{% assign posts=nil %}